/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/data/tpl
/data/logs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.idea/workspace.xml
/data/config.php
/attachment
/addons/ewei_shopv2/data