.content{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.content .list-ul{
    width:100%;
    overflow:hidden;
}
.content .list-li{
    width:100%;
    height:2.5rem;
    background:#ffffff;
    border-bottom:1px solid #cccccc;
    overflow:hidden;
    display:flex;
}
.content .list-li:last-child{
    border-bottom:none;
}
.content .list-li .left{
    font-size:0.85rem;
    margin-left:0.5rem;
    margin-right:auto;
    line-height:2.5rem;
}
.content .list-li .right{
    margin-right:0.5rem;
}
.content .list-li .right .date{
    margin-top:0.25rem;
}
.hx-contetn .list-li .right{
    line-height:2.5rem;
    font-size:0.85rem;
}
.content .list-li .right .text{

}
.button{
    display:block;
    width:90%;
    height:2.5rem;
    background: #9eb14a;
    color:#fff;
    font-size:0.95rem;
    text-align:center;
    line-height:2.5rem;
    margin:0 auto;
    border-radius:5px;
    margin-top:4rem;
}
.success-img{
    display:block;
    margin:0 auto;
    margin-top:4rem;
    width:25%
}
.success-text{
    text-align:center;
    font-size:0.95rem;
    margin-top:0.5rem;
}
.success-con{
    background:#ffffff;
    width:100%;
    height:100%;
    display:block;
}
body{
    height:100%;
}