<script language='javascript' src='//api.map.baidu.com/getscript?v=2.0&ak=ZQiFErjQB7inrGpx27M1GR5w3TxZ64k7'></script>
{template 'common/storelist'}
<!--在这里加入选择门店功能代码-->
<div class="head1">
	<div class="branchBtn" store-id="{$shopInfo['id']}">
		<!--<strong class="round" ng-click="popupStoreDetail()"></strong>-->
		<img src="/attachment/{$shopInfo['logo']}" class="fl ng-isolate-scope">
		<a class="bName ellipsis fl ng-binding">{$shopInfo['storename']}</a>
		<span class="bArrow"></span>
	</div>
	<a onclick="$('.change_store').css('display','block');" class="change">切换</a>
</div>
<div class='fui-content navbar'>
	{loop $sorts $name $item}
		{if $item['visible']==1}
			{template 'shop/index/'.$name}
		{/if}
	{/loop}
	{template 'goods/picker'}
	{template 'goods/wholesalePicker'}
	{template '_copyright'}
	<!--在这里加入资质证明代码-->
	<div class="footer-con" style="text-align:center; margin-top:5%;">
		<a href="/{$shopInfo['business_license_img']}" style="margin-right:10px; color:#8d8c91;">营业执照/注册号</a>
		<a href="/{$shopInfo['drug_license_img']}" style="color:#8d8c91;">药品经营许可证</a>
		<a href="/{$shopInfo['internet_med_tran_img']}" style="display:block;color:#8d8c91;">互联网药品交易服务资格证书</a>
	</div>
	<!--在这里加入资质证明代码--结束-->
</div>
<script>
	$('.branchBtn').click(function(){
	    var store_id = $(this).attr('store-id');
	    $.post(
	        "/app/index.php?i={$_W['uniacid']}&c=entry&m=ewei_shopv2&do=mobile&r=getstoreinfo&stroeid="+store_id,
			{},
			function(res){
	            $('body').append(res)
			}
		);
	});
</script>

